/**
	@file mMeteo main CSS file

    Copyright:  ©2012 Maciej "Nux" Jaros
	  License:  CC-BY-SA
	            http://creativecommons.org/licenses/by-sa/3.0/
*/

/* validation */
.ui-hide-label label.error
{
	clip: auto;
	left: 0;
	position: relative !important;
	display: block;
}