<!--
	About/help page
-->	
<div data-role="page" id="page-about">

	<div data-role="header">
		<h1>
			<span data-lang="en">Help</span>
			<span data-lang="pl">Pomoc</span>
		</h1>
	</div><!-- /header -->

	<div data-role="content">
	
		<div data-role="collapsible-set" data-theme="c" data-content-theme="d">
			<div data-role="collapsible" data-collapsed="false">
				<h2>
					<span data-lang="pl">O aplikacji</span>
					<span data-lang="en">About</span>
				</h2>
				<div data-lang="pl">
					<p>Wersja aplikacji ${mJ.widget.version}.</p>
					<p>Copyright &copy; 2012-2014 Maciej "Nux" Jaros.</p>
					<p>Licencja <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">CC-BY-SA</a></p>
					<p>Prognozy są generowane przez serwis <a href="www.meteo.pl" target="_blank">www.meteo.pl</a>, który został stworzony przez ICM.</p>
				</div>
				<div data-lang="en">
					<p>App version ${mJ.widget.version}.</p>
					<p>Copyright &copy; 2012 Maciej "Nux" Jaros.</p>
					<p>License <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">CC-BY-SA</a></p>
					<p>Libraries copyright and license information is avaiable in the JS and CSS files.</p>
					<p>Prognosis are generate by <a href="www.meteo.pl" target="_blank">www.meteo.pl</a>, which was made by ICM.</p>
				</div>
			</div>
			<div data-role="collapsible" data-collapsed="true">
				<h2>
					<span data-lang="pl">Pytania i odpowiedzi</span>
					<span data-lang="en">FAQ</span>
				</h2>
				<div data-role="collapsible-set" data-theme="d" data-content-theme="d">
					<div data-role="collapsible" data-collapsed="true">
						<h3>
							<span data-lang="pl">Po co dwie prognozy?</span>
							<span data-lang="en">Why use two forecasts?</span>
						</h3>
						<div data-lang="pl">
							<p>Krótkoterminowa prognoza (najbliższe 2 doby) jest zwykle bardziej dokładna niż ta długa (4 doby). Są one jednak także nieco inaczej wyliczane (tzw. model UM i COAMPS). Zainteresowanych szczegółami odsyłam na stronę <a href="www.meteo.pl" target="_blank">www.meteo.pl</a> (są tam maile kontaktowe do autorów).</p>
							<p>Najważniejsze jest to, że spojrzenie na obie wersje daje większą pewność co do prognozy. Jeśli np. jedna mówi, że jutro będzie deszcz, a druga, że nie będzie, to lepiej wziąć parasol :-).</p>
						</div>
						<div data-lang="en">
							<p>Short-term forecast (next 2 days) is usually more accurate than the long one (4 days). But they are also computed in a different way (so called UM and COAMPS models). More info on <a href="www.meteo.pl" target="_blank">www.meteo.pl</a> (you'll find contact e-mails there).</p>
							<p>More important, if you look at both forecasts you will be able to gain more confident knowledge of the forecast. For example, if one forecast says it will rain tomorrow and the other one says it won't, then you should take your umbrella anyway :-).</p>
						</div>
					</div>
					<div data-role="collapsible">
						<h3>
							<span data-lang="pl">Pogoda z mojej okolicy?</span>
							<span data-lang="en">Checking neighbourhood forecast?</span>
						</h3>
						<div data-lang="pl">
							<p>Otwierając stronę z prognozą w lewym rogu zobaczysz tzw. różę wiatrów, czy właściwie strzałki nawigacyjne. Dzięki nim możesz poruszać się po okolicy (strzałka w prawo leci na wschód, strzałka do góry na północ itd.).</p>
							<p>Prognozy w okolicy mogą też dać dobry ogląd na to, jak bardzo zmienna może być pogoda u Ciebie.</p>
						</div>
						<div data-lang="en">
							<p>After you open a forecast page, you will find a kind of a wind (compass) rose with navigation arrows. By clicking on them you can move around your neighbourhood (right arrow moves you east, up arrow north etc).</p>
							<p>Neighbourhood forecasts should give you a good overview of how stable the weather will be.</p>
						</div>
					</div>
					<div data-role="collapsible">
						<h3>
							<span data-lang="pl">Wykrywanie położenia.</span>
							<span data-lang="en">Automatic position.</span>
						</h3>
						<div data-lang="pl">
							<p>Położenie (długość i szerokość geograficzna) jest ustalane przez Twoją przeglądarkę internetową. Może ona korzystać z połączenia sieciowego lub GPS. Lepsze wyniki zwykle uzyskuje się przy włączonym połączeniu bezprzewodowym (WiFi lub komórkowe) niż kablowym. Jeśli masz taką możliwość, włącz sieć bezprzewodową lub GPS.</p>
							<p>Pamiętaj, że niektóre przeglądarki/telefony zapytają, czy można udostępnić połączenie tej aplikacji. Jeśli nie chcesz (lub nie możesz) tego robić, to możesz wpisać dowolne położenie ręcznie.</p>
						</div>
						<div data-lang="en">
							<p>Position (latitude and longitude) is acquired from your browser. It can use your Internet connection or GPS. Wireless connection (WiFi or mobile) usually gives more accurate results than a cable connection. If you can, turn on your wireless receiver or GPS.</p>
							<p>Note that some browsers/phones will ask you for permission to share your position with this application. If you don't want (or can't) do that, you can always type in any position manually.</p>
						</div>
					</div>
					<div data-role="collapsible">
						<h3>
							<span data-lang="pl">Dlaczego nie działa zapis?</span>
							<span data-lang="en">Why doesn't my data get saved?</span>
						</h3>
						<div data-lang="pl">
							<p>Jeśli nie działa zapis, to najprawdopodobniej Twoja komórka nie obsługuje skryptów JavaScript lub ma ich obsługę wyłączoną. Program wymaga JavaScript do poprawnego działania.</p>
						</div>
						<div data-lang="en">
							<p>If saving doesn't work then your cellphone doesn't have JavaScript enabled. This application needs JavaScript to work properly.</p>
						</div>
					</div>
					<!--
					<div data-role="collapsible">
						<h3>
							<span data-lang="pl">Pytanie?</span>
							<span data-lang="en">Question?</span>
						</h3>
						<div data-lang="pl">
							<p>Odp.</p>
						</div>
						<div data-lang="en">
							<p>Ans.</p>
						</div>
					</div>
					-->
				</div>
			</div>
		</div>

	</div><!-- /content -->
	
</div><!-- /page -->