<!--
	Settings page
-->	
<div data-role="page" id="page-settings">

	<div data-role="header">
		<a href="index.html" data-icon="delete" data-rel="back" data-i18n-key="Cancel"></a>
		<h1>
			<span data-lang="en">Settings</span>
			<span data-lang="pl">Ustawienia</span>
		</h1>
		<a href="index.html" data-icon="check" data-theme="b" id="settings-submit-btn" data-i18n-key="Save"></a>
	</div><!-- /header -->

	<div data-role="content">	
		
		<form action="index.html" method="GET" data-ajax="false" id="settings-form">
			<!--
				@see mJappisApplication.controller.settings
			-->
		</form>
	</div><!-- /content -->
	
</div><!-- /page -->